//index page syles
#beers__header-text{
  text-align: center;
  font-size: 64px;
  font-family: $main-font;
}

#header-divider-beers {
  width: 50%;
  border: 5px solid #35C8B3;
}

.beers-list{
  padding-top: 135px;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), image-url('concrete_seamless.png');
}

#beer-heading {
  font-family: $main-font-book;
  font-size: 25px;
  color: #4A4A4A;
  line-height: 25px;
  text-align: center;
}

.index-bottle-image{
  @include in-between {
    width: 65%;
    margin: 0 auto;
  }
}

#beer-desc{
  @extend #beer-heading;
  font-size: 18px;
  @include bp-medium {
    width: 70%;
    margin: 0 auto;
  }
  @include bp-small {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
  }
}

.beer-facts-wrapper {
  margin: 0 auto;
  max-width: 200px;
  height: 150px;
  padding-top: 15px;
  margin-bottom: 65px;
}

#beer-facts-left {
  float: left;
}

#beer-facts {
  @extend #beer-desc;
  text-align: right;
  font-size: 16px;
  @include bp-small {
    font-size: 14px;
  }
}

.beer-view {
  padding-top: 20px;
}
