//index page syles
#beers__header-text{
  text-align: center;
  font-size: 64px;
}

.beers-list{
  padding-top: 200px;
}

#beer-heading {
  font-family: $main-font;
  font-size: 20px;
  color: #4A4A4A;
  line-height: 20px;
  text-align: center;
}

.index-bottle-image{
  @include in-between {
    width: 65%;
    margin: 0 auto;
  }
}

#beer-desc{
  @extend #beer-heading;
  font-size: 14px;
}

.beer-facts-wrapper {
  margin: 0 auto;
  max-width: 200px;
  height: 150px;
}

#beer-facts-left {
  float: left;
}

#beer-facts {
  @extend #beer-desc;
}

.beer-view {
  padding-top: 20px;
}
