// Place all the styles related to the beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.beer-image {
  z-index: 0;
  position: relative;
  display: table;
  min-height: 800px;
  width: 100%;
  background-position: 50% -5%;
  background-size: cover;
  margin-top: 95px;
  &:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(bottom,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 60%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top,  rgba(255,255,255,1) 40%,rgba(255,255,255,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}

.beer-wrapper {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  @include bp-small {
    margin-top: 200px;
  }
}


.beer-name {
  color: black;
  font-family: $main-font;
  font-size: 25px;
  @include tablet-text-center {
    text-align: center;
    margin-top: 15px;
  }
}

.beer-descriptions {

}

.beer-info {
  color: black;
  text-align: left;
  min-width: 200px;
  font-family: $main-font;
  margin-bottom: auto;
  @include tablet-text-center {
    text-align: center;
    margin-top: 10px;
  }
}

.related-beers-header {
  h2 {
    font-family: $main-font;
    font-size: 45px;
    text-align: center;
  }
}

#header-divider {
  border: 5px solid #35C8B3;
  width: 85%;
}
