// Place all the styles related to the beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.beer-image {
  z-index: 0;
  position: relative;
  display: table;
  width: 100%;
  &:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(to top,  rgba(255,255,255, 1) 25%,rgba(255,255,255,0) 80%);
  }
}

.beer-wrapper {
  position: relative;
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  @include bp-small {
    margin-top: 200px;
  }
}

.beer-bottle-image{
  max-width: 90%;
  margin: 0 auto;
}


.beer-name {
  h2 {
    font-size: 20px;
    font-family: $main-font;
    color: #4A4A4A;
  }
  p {
    font-size: 16px;
    font-family: $main-font;
    color: #4A4A4A;
    line-height: 20px;
  }
  @include tablet-text-center {
    text-align: center;
    margin-top: 15px;
  }
  @include bottom-align-large-screen {
    position: absolute;
    bottom: 100px;
    left: 4%;
  }
}

.beer-descriptions {
  @include bottom-align-large-screen {
    position: absolute;
    bottom: -40px;
    right: 4%;
  }
}

.beer-info {
  p {
    font-size: 18px;
    font-family: $main-font;
    color: #4A4A4A;
    line-height: 20px;
  }
  @include tablet-text-center {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-family: $main-font;
  }
  @include bottom-align-large-screen {
    position: absolute;
    bottom: 100px;
    left: 4%;
    color: black;
    font-family: $main-font;
    font-size: 25px;
  }
}

.related-beers {
  margin-top: 50px;
  margin-bottom: 50px;
}

#related-beer__name {
  font-family: $main-font;
  font-size: 18px;
  text-align: center;
}

#related-beer__style {
  font-family: $main-font;
  font-size: 16px;
  text-align: center;
}

.related-beers-header {
  h2 {
    font-family: $main-font;
    font-size: 45px;
    text-align: center;
  }
}

#header-divider {
  border: 5px solid #35C8B3;
  width: 85%;
}
