//footer styles
footer {
  width: 100%;
  min-height: 390px;
}

.footer-overlay {
  background-image:
    linear-gradient(rgba(74,74,74, 0.9), rgba(74,74,74, 0.9)),
    image-url('concrete_seamless.png')
}

.footer-wrapper{
  height: 100%;
  width: 90%;
  margin: 0 auto;
  .footer-section {
    margin-top: 40px;
    font-family: $main-font;
    font-weight: $book-font-weight;
    color: white;
    h2 {
      font-size: 24px;
      font-weight: $book-font-weight;
    }
    h3 {
      font-size: 18px;
      font-weight: $book-font-weight;
    }
    p {
      font-size: 14px;
      line-height: 14px;
      font-weight: $book-font-weight;
    }
  }
  #footer-line {
    width: 80%;
    margin-left: inherit;
    color: #D8D8D8;
  }
  .footer-bottom {
    color: white;
    text-align: center;
    font-family: $main-font;
    font-weight: $book-font-weight;
    p {
      font-size: 11px;
      font-weight: $book-font-weight;
    }
  }
}

.email-link {
  a {
    color: white;
  }
}

.insta-img {
  border: 2px solid white;
  transition: .5s;
  &:hover {
    opacity: 0.7;
    transition: .5s;
  }
}

.insta-likes {
  padding-top: 3px;
}
