// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-image-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), image-url('background.jpg') no-repeat center center;
  background-size: cover;
  height: 710px;
  margin-top: 100px;
}
.about-image-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), image-url('farmhouse.jpeg') no-repeat center center;
  background-size: cover;
  height: 710px;
}
.about-image-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url('shawn.jpg') no-repeat center 45%;
  background-size: cover;
  height: 710px;
}

.about-header__1 {
  font-family: $main-font;
  color: white;
  font-size: 40px;
  line-height: 50px;
  margin-top: 150px;
  @include bp-small {
    font-size: 32px;
    margin-top: 100px;
  }
}

.about-header__2 {
  @extend .about-header__1;
  text-align: left;
}

.about-header__3 {
  @extend .about-header__1;
}

.about-header-text__1 {
  font-family: $main-font;
  font-size: 14px;
  color: white;
  width: 125%;
}

.about-header-text__2 {
  @extend .about-header-text__1;
}

.about-header-text__3 {
  @extend .about-header-text__1;
}

#header-divider-about {
  width: 110%;
  border: 4px solid #35C8B3;
}

//locations//
.locations-wrapper {
  min-height: 700px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  font-family: $main-font;
  font-weight: $main-font-weight;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,image-url('locatorimg.jpeg');
  background-size: cover;
  h1 {
    padding-top: 45px;
    color: white;
  }
  p {
    a {
      color: white;
    }
  }
}
