// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// landing page
.landing-bg {
  position: absolute;
  background: image-url('blackwhitebg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  @include bp-small {
    display: table;
  }
}

.bird-img {
  width: 10%;
  position: relative;
  left: 37%;
  top: 10%;
}

.landing-modal {
  max-width: 700px;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
  height: 475px;
  border: 5px solid #35C8B3;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  p {
    color: white;
    text-align: center;
    font-family: $main-font;
    font-weight: $book-font-weight;
    font-size: 16px;
    letter-spacing: 3px;
  }
  h2 {
    color: white;
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
    font-family: $main-font;
    font-weight: $main-font-weight;
  }
  @include bp-small {
    display: table-cell;
    vertical-align: middle;
  }
}

#legal-age {
  padding-top: 15px;
  @include bp-small {
    padding-top: 30px;
  }
}

#ale-project {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: $main-font;
  font-weight: $book-font-weight;
}

.button-wrapper{
  text-align: center;
}

.yes-button {
  display: inline-block;
  height: 60px;
  width: 180px;
  background: black;
  border: none;
  color: white;
  font-family: $main-font;
  font-weight: $main-font-weight;
  font-size: 32px;
  transition: .5s;
  margin: 10px;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover{
    transition: .5s;
    background: #35C8B3;
  }
  @include bp-small {
    width: 125px;
    height: 45px;
    font-size: 20px;
  }
}

.no-button {
  @extend .yes-button;
}

.modal-title{
  margin-top: 25px;
  font-family: $main-font;
  font-weight: $book-font-weight;
  font-style: $main-font-style;
  font-size: 60px;
  color: white;
  text-align: center;
}

.hero-image {
  position: relative;
  left: 0;
  display: table;
  min-height: 430px;
  width: 100%;
  background: linear-gradient(rgba(17, 17, 20, 0.7), rgba(17, 17, 20, 0.7)), image-url('barnbarrel.jpg') center center no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 100px;
}

.vertically-centered-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.center-text{
  width: 400px;
  margin: 0 auto;
  @include bp-medium {
    width: 315px;
  }
}

.banner-text{
  font-family: $main-font;
  font-weight: $main-font-weight;
  color: white;
  font-size: 45px;
  @include bp-medium {
    font-size: 36px;
  }
}

.short-about {
  height: 350px;
  display: flex;
  align-items: center;
}

.overlay {
  background-image:
    linear-gradient(rgba(17, 17, 20, 0.6), rgba(17, 17, 20, 0.6)),
    image-url('concrete_seamless.png')
}

.short-bio {
  font-family: $main-font;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 40px;
  text-align: center;
  @include bp-small {
    font-size: 16px;
    line-height: 34px;
  }
}

.our-beers {
  height: 506px;
  width: 100%;
  background: image-url('background.jpg') no-repeat center center;
  background-size: cover;
  &:before {
    content: " ";
    width: 100%;
    height: 506px;
    position: absolute;
    background: linear-gradient(-90deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.9) 41%, rgba(255,255,255,0.95) 70%, #FFFFFF 100%);
  }
}

.beers-button {
  display: none;
  @include bp-medium {
    height: 50px;
    width: 200px;
    margin: 0 auto;
    display: block;
    background: black;
    border: none;
    color: white;
    font-family: $main-font;
    font-weight: $main-font-weight;
    font-size: 32px;
    transition: .5s;
    margin-top: 100px;
    transition: .5s;
    &:hover {
      opacity: .8;
      transition: .5s;
    }
    a {
      color: white;
    }
  }
  @include bp-small {
    margin-top: 30px;
  }
}

.history-button {
 @extend .beers-button;
}

.our-history {
  height: 506px;
  width: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.9) 41%, rgba(255,255,255,0.95) 70%, #FFFFFF 100%),
              image-url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.our-history-sketch {
  height: 90%;
  width: auto;
}

.farm-sketch {
  padding-left: 100px;
  @include bp-medium {
    display: none;
  }
  @include image-padding-small {
    padding-top: 85px;
  }
  @include image-padding-medium {
    padding-top: 70px;
  }
  @include image-padding-large {
    padding-top: 45px;
  }
  @include image-padding-xlarge {
    padding-top: 30px;
  }
}

.our-beers-sketch {
  padding-left: 65px;
  @include bp-medium {
    display: none;
  }
  @include image-padding-small {
    padding-top: 85px;
  }
  @include image-padding-medium {
    padding-top: 70px;
  }
  @include image-padding-large {
    padding-top: 45px;
  }
  @include image-padding-xlarge {
    padding-top: 30px;
  }
}

#our-history__banner-text {
  font-size: 64px;
  color: #454545;
  font-family: $main-font;
  font-weight: $main-font-weight;
  text-align: center;
  margin-top: 60px;
  @include bp-medium {
    margin-top: 20px;
  }
}

#our-history__paragraph {
  text-align: center;
  font-size: 18px;
  font-family: $main-font;
  width: 80%;
  margin: 0 auto;
  @include bp-medium {
    width: 80%;
    font-size: 16px;
  }
}

.our-beers-text-wrapper {
  height: 506px;
  width: 400px;
  border: 2px solid black;
}

.our-beers-sketch-wrapper{
  height: 506px;
  width: 400px;
  border: 2px solid black;
}

#header-divider-half {
  border: 3px solid #35C8B3;
  width: 50%;
}
