<footer class="footer-overlay">
  <div class="footer-wrapper">
    <div class="row">
      <div class="col-md-4 footer-section">
        <h2>Contact Us</h2>
        <hr id="footer-line">
      </div>
      <div class="col-md-4 footer-section">
        <h2>Instagram</h2>
          <div class="row">
            <% @insta = InstaImage.all %>
            <% @insta.each do |insta| %>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%=raw insta.url %>
            </div>
            <% end %>
          </div>
        <hr id="footer-line">
      </div>
      <div class="col-md-4 footer-section">
        <h2>Upcoming Events</h2>
        <hr id="footer-line">
        <% Event.upcoming_events.each do |event| %>
          <h3><%= event.name %></h3>
          <p><%= event.event_date_time.strftime("%A, %b %d") %></p>
          <p><%= event.location %></p>
          <hr id="footer-line">
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 footer-bottom">
        <p>
          Birds Fly South - Belgian Ales, Farmhouse Flavors. Open fermentation in the upstate - Progressively Old School
        </p>
      </div>
    </div>
  </div>
</footer>
