<div class="hero-image">
  <div class="vertically-centered-text">
    <div class="center-text">
      <h1 class="banner-text">PROGRESSIVELY OLD SCHOOL</h1>
    </div>
  </div>
</div>

<section id="short-about">
  <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="short-bio">We are a 20 year US Coast Guard family in the process of setting ourselves up for life after the service. We have begun starting up our dream of opening a brewery focusing on Farmhouse Belgian style ales with an extensive sour program.</p>
          <hr id="short-bio-break">
        </div>
      </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    var windowHeight = window.innerHeight;
    $('.hero-image').css({'height': windowHeight - 100});
  })
</script>
