<div class="hero-image">
  <div class="vertically-centered-text">
    <div class="center-text">
      <h1 class="banner-text">PROGRESSIVELY OLD SCHOOL</h1>
    </div>
  </div>
</div>

<div class="background-gradient">
  <section id="short-about">
    <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p class="short-bio">We are a 20 year US Coast Guard family in the process of setting ourselves up for life after the service. We have begun starting up our dream of opening a brewery focusing on Farmhouse Belgian style ales with an extensive sour program.</p>
            <hr id="short-bio-break">
          </div>
        </div>
    </div>
  </section>
  <section id="circular-images">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="col-md-5 col-sm-5">
        <img class="link-image" src="http://placehold.it/325x325" alt="Placeholder" />
        <p id="links-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum condimentum urna id fermentum. Aliquam at arcu ac arcu aliquam sagittis. Praesent luctus, est sit amet feugiat tincidunt, erat purus vestibulum quam, in feugiat risus eros ac justo. Nullam in felis ornare, luctus velit vel, gravida tellus.
        </p>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2">
        <img class="link-image" src="http://placehold.it/325x325" alt="Placeholder" />
        <p id="links-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum condimentum urna id fermentum. Aliquam at arcu ac arcu aliquam sagittis. Praesent luctus, est sit amet feugiat tincidunt, erat purus vestibulum quam, in feugiat risus eros ac justo. Nullam in felis ornare, luctus velit vel, gravida tellus.
        </p>
      </div>
    </div>
  </section>
</div>
