<div class="hero-image">
  <div class="vertically-centered-text">
    <div class="center-text">
      <h1 class="banner-text">PROGRESSIVELY OLD SCHOOL</h1>
    </div>
  </div>
</div>

<section class="short-about overlay">
  <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="short-bio">We are a 20 year US Coast Guard family in the process of setting ourselves up for life after the service. We have begun starting up our dream of opening a brewery focusing on Farmhouse Belgian style ales with an extensive sour program.</p>
        </div>
      </div>
  </div>
</section>

<section class="our-beers">
  <div class="container-fluid">
    <div class="col-md-6 col-sm-6">
      <%= image_tag('our-beers-sketch.png', class: "img-responsive our-beers-sketch") %>
    </div>
    <div class="col-md-6 col-sm-6 our-history__text-wrapper">
      <h1 id="our-history__banner-text">Our Beers</h1>
      <hr id="header-divider-half" />
      <p id="our-history__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a odio sem. In quam nisl, faucibus at lacus sit amet, viverra ultricies massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a odio sem. In quam nisl, faucibus at lacus sit amet, viverra ultricies massa
      </p>
      <button type="button" name="button" class="beers-button"><a href="/beers">Beers</a></button>
    </div>
  </div>
</section>

<section class="our-history">
  <div class="container-fluid">
    <div class="col-md-6 col-sm-6 our-history__text-wrapper">
      <h1 id="our-history__banner-text">Our History</h1>
      <hr id="header-divider-half" />
      <p id="our-history__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a odio sem. In quam nisl, faucibus at lacus sit amet, viverra ultricies massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a odio sem. In quam nisl, faucibus at lacus sit amet, viverra ultricies massa
      </p>
      <button type="button" name="button" class="history-button"><a href="/about">About Us</a></button>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= image_tag('farmsketch.png', class: "img-responsive farm-sketch") %>
    </div>
  </div>
</section>
