<!DOCTYPE html>
<html>
<head>
  <title>Birds Fly South</title>
  <meta charset="utf-8">
  <meta name="description" content="Birds Fly South Brewery">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/wtf2syr.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>
<body>
  <div class="landing-bg">
    <div class="landing-modal">
      <%= image_tag('whitelogotransparent.png', class: "img-responsive bird-img") %>
      <h1 class="modal-title">birds fly south</h1>
      <p id="ale-project">ale project</p>
      <p>Site launching soon!</p>
      <p id="legal-age">To enter this site you must be of legal drinking age></p>
      <h2>ARE YOU OVER 21?</h2>
      <div class="button-wrapper">
          <button class="yes-button" type="button" name="button"><a href="/index">Yes</a></button>
          <button class="no-button" type="button" name="button">No</button>
      </div>
    </div>
  </div>
</body>
</html>
