<!DOCTYPE html>
<html>
<head>
  <title>Birds Fly South</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="age-checker">
      <button><a class="over-21" href="/index">Yes</a></button>
      <button><a href="/">No</a></button>
    </div>
  </div>

</body>
</html>
