<!DOCTYPE html>
<html>
<head>
  <title>Birds Fly South</title>
  <meta charset="utf-8">
  <meta name="description" content="Birds Fly South Brewery">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="https://use.typekit.net/wtf2syr.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>


	<link rel="stylesheet" type="text/css" href="main.css">

</head>

<body>
<div class="landing-image">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 landing-about">
      <div class="headshot">
        <%= image_tag('bfs.png') %>
      </div>
      <h1>Birds Fly south</h1>
      <p>Belgian ales, Farmhouse Flavors. Open fermentation in the upstate - Progressively Old School</p>
      <p>Website Coming Soon</p>
      <a class="btn" href="mailto:bfsbeer@gmail.com">Email Us</a>
      <a class="btn" href="https://www.facebook.com/bfsbeer/">BFS Facebook</a>
    </div>
  </div>
</div>
</body>
</html>
