<div class="event-show__image", style="background-image: url('<%= event_image(@event) %>')">
  <!-- <h1 class="event-show__month"><%= @event.event_date_time.strftime("%^b") %></h1>
  <h1 class="event-show__day"><%= @event.event_date_time.strftime("%d") %></h1> -->
  <h1 class="event-show__name"><%= @event.name %></h1>
</div>
