<div class="about-image-1">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4 col-sm-6 col-xs-8">
        <h1 class="about-header__1">PROGRESSIVELY OLD SCHOOL</h1>
        <hr id="header-divider-about" />
        <p class="about-header-text__1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta lorem non dolor ultrices aliquet. Nunc porttitor est eu dui bibendum, non luctus arcu bibendum. Morbi eget pellentesque lectus. Nullam in metus ut tellus imperdiet rutrum nec vitae orci. Morbi ornare consectetur molestie. Donec viverra commodo auctor. Aenean lobortis tincidunt augue feugiat viverra.</p>
      </div>
    </div>
  </div>
</div>
<div class="about-image-2">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-6 col-md-offset-6 col-sm-6 col-xs-8">
        <h1 class="about-header__2">PROGRESSIVE ALES FARMHOUSE FLAVORS</h1>
        <hr id="header-divider-about" />
        <p class="about-header-text__2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta lorem non dolor ultrices aliquet. Nunc porttitor est eu dui bibendum, non luctus arcu bibendum. Morbi eget pellentesque lectus. Nullam in metus ut tellus imperdiet rutrum nec vitae orci. Morbi ornare consectetur molestie. Donec viverra commodo auctor.</p>
      </div>
    </div>
  </div>
</div>
<div class="about-image-3">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4 col-sm-6 col-xs-8">
        <h1 class="about-header__3">VET-OWNED FAMILY-RUN</h1>
        <hr id="header-divider-about" />
        <p class="about-header-text__3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta lorem non dolor ultrices aliquet. Nunc porttitor est eu dui bibendum, non luctus arcu bibendum. Morbi eget pellentesque lectus. Nullam in metus ut tellus imperdiet rutrum nec vitae orci. Morbi ornare consectetur molestie. Donec viverra commodo auctor. Aenean lobortis tincidunt augue feugiat viverra.</p>
      </div>
    </div>
  </div>
</div>
