<div class="about-image-1">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h1 class="about-header__1">PROGRESSIVELY OLD SCHOOL</h1>
        <hr id="header-divider-about" />
      </div>
    </div>
  </div>
</div>
<div class="about-image-2">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4 col-md-offset-8 col-sm-4 col-xs-4">
        <h1 class="about-header__2">PROGRESSIVE ALES FARMHOUSE FLAVORS</h1>
        <hr id="header-divider-about__right" />
      </div>
    </div>
  </div>
</div>
<div class="about-image-3">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h1 class="about-header__3">VET-OWNED FAMILY-RUN</h1>
        <hr id="header-divider-about" />
      </div>
    </div>
  </div>
</div>
