<div class="container locations-wrapper">
  <h1>We are currently distributed in South Carolina and North Carolina</h1>
  <hr id="header-divider-beers" />
  <div class="col-lg-10 col-lg-offset-1">
    <div class="col-md-6">
      <h1>South Carolina</h1>
      <hr id="header-dvider" />
      <p>
        <a href="http://www.advintagedistributing.com/">Advintage Distributing</a>
      </p>
    </div>
    <div class="col-md-6">
      <h1>North Carolina</h1>
      <hr id="header-dvider" />
      <p>
        <a href="http://www.advintagedistributing.com/">Advintage Distributing</a>
      </p>
    </div>
  </div>
</div>
