/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// Use import statements to require other app stylesheets
 @import "bootstrap";
 @import "main";

 .navbar {
   box-shadow: 0px 2px 8px #121F1F;
   height: 100px;
 }

 .navbar-nav {
   margin: 0;
   display: table;
   width: 100%;
 }

 .navbar .nav li {
   display: table-cell;
   width: 1%;
   float: none;
 }

 .nav-link {
   line-height: 70px;
   text-align: center;
   font-family: $main-font;
 }

 .logo {
   padding-left: 125px;
   padding-right: 125px;
 }
